
/* homogenizar la visualizacion en distintos navegadores reset  */

:root {    
	/*es un color que utilizamos en la mayoria del proyecto */
	--color-primario:  #  0000;
	--color-secundario:  #  f6f6f6;
	--color-terciario:  #22D4FD;
	

      --fuente-monserrat:'Montserrat', sans serif;
	  --fuente-krona:'Krona One', serif;
             }
   

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
      padding: 0;
      margin: 0;
}




body{   
        background-color:var --color-primario;
        color: var --color-secundario;
        /*height: 100vh;*/
        box-sizing:border-box ;
  }



  .header{  
          /* el encabezado tiene un 2% de padingtop     9% rigth           */
         /*  ARRIBA   DERECHA  ABAJO     IZQUIERDA    */
      padding: 2%      0%       0%      15% ;
      
  }



  .header__menu{
  display: flex;
  gap: 80px;

      
  }

  .header__menu__links{
      font-family:var var(--fuente-monserrat);
      font-size: 1.5rem;
      font-weight: 600;
      color: #22d4fd;
      text-decoration: none; 
      border: 4px solid  #22d4fd;
      border-radius: 15px;
     
      
  }


  .strong {   
     color:  #22d4fd;
}



.titulo-destaque{

   color:#22d4fd;   

}

.Presentacion{
    display: flex;  
    align-items:center ;
    justify-content:space-between;
    padding: 6% 15% ;
    gap: 82px;
}

.presentacion__contenido{
      width: 50%;
     display: flex;   /* activacion del flex box    */
     flex-direction: column;   /* la direccion que tendria el flex box   */
      gap: 40px;  /* separacion entre  los elementos del flex box  */
   }

.presentacion__contenido__titulo{
      font-size:2rem;
      font-family: "Krona One", serif;
}

.presntacion__contenido__texto{
      font-size: 1.5rem;
      font-family: var var(--fuente-monserrat);
}

.presentacion__enlaces{
      display: flex;
      justify-content:space-between;
      flex-direction: column;
      align-items: center;
      gap: 32px;
}
.presentacion__links{
      width: 50%; 
      text-align: center;
      padding: 21.5px 0px ;
      border-radius: 8% ;
      font-family: var var(--fuente-monserrat);
      font-size: 1.5rem;
      font-weight: 600px;
      color: #f6f6f6f6 ;
      text-decoration: none; /* para quitar el subrrayado del link*/
      border: 2px solid  #22d4fd; /*  color y borde del boton */
      display: flex;            /* activa la propiedad flex box  */
      justify-content: center;  /*centra los elementos dentro de esta flex box*/
      gap: 10px;          /* separa los elementos dentro de esta flex box */
     


}


.contacto{
      font-family:  var(--fuente-krona);
      font-size: 1.5rem;
      font-weight: 400;

}


.presentacion__links:hover{
      border: 2px solid #0000FF;
      background-color: #272727;

}

.imagen__presentacion{     
 width: 50%;
} 




.footer{
      display: grid;
      grid-template-rows: 1fr auto;
      background-color: #22d4fd;
      padding: 5px;
      color:white;
      text-align: center;
      font-family:  "Montserrat", serif;
      font-size: 1.5rem;
      font-weight: 400px;
      margin: 20%;
      border-radius: 11%;
      width: auto;
}



/* Media query

para que la imagen adopte una postura de columna
y se posiciones por encima del texto se pone column reverse */

@media (max-width: 1200px ) {   

.header{ 
  padding: 10%;

}

.header__menu{
  justify-content: center;
}

.Presentacion{ 
flex-direction: column-reverse;
    padding: 5%;
  } 

.presentacion__contenido{
      width: auto;
    }
}




